
<div id="products-container">
    <h2>Products</h2>
    <!-- 
<div *ngFor="let product of products">
    <h3>{{product.name}}</h3>
</div> -->

    @for(product of products; track product.id){
    <h3>
        <a 
        [title]="product.name + ' details'" 
        [routerLink]="['/products', product.id]">

            {{ product.name }}
        </a></h3>
        <img id="photo-mobile" src="{{product.photo}}"/>

        @if(product.description){
        <p>{{ product.description }}</p>
        }@else {
            <p></p>
        }

        <button (click)="share()">
            <i class="fas fa-share-alt"></i>
        </button>

        <app-product-alerts 
        [product]="product"
        (notify)="onNotify()"></app-product-alerts>
    

    }
</div>